.content{
	width: 640px;
	height: 640px;
	margin: 100px auto;
	position: relative;
}
/* 定义相同的样式 */
.btn{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color:rgba(0,0,0,0.3); 
	z-index: 2;
}
.btn button{
	background: none;
	border: none;
	background-size: 100% 100%;
	cursor: pointer;
	outline: none;
	position: absolute;
	left: 50%;
	top: 50%;
}
/* 分别定义样式 */
.startBtn button{
	width: 200px;
	height: 140px;
	background-image: url(images/startGame.png);
	margin-left: -100px;
	margin-top: -70px;
}
.pauseBtn{
	display: none;
}
.pauseBtn button{
	width: 70px;
	height: 70px;
	background-image: url(images/start.png);
	margin-left: -35px;
	margin-top: -35px;
}
/* 定义蛇头蛇身以及苹果所在容器的样式 */
#snakeWrap{
	width: 600px;
	height: 600px;
	background:#B1C748;
	border:20px solid #7dd9ff; 
	background-image: url(images/bg.jpg);
	background-size: cover;
	position: relative;
}

/* 可以让蛇头蛇身以及苹果直接在界面上显示，便于调试 */
/* #snakeWrap div{
	width: 20px;
	height: 20px;
} */


.snakeHead{
	background-image: url(images/head.png);
	background-size: cover;   /* 这个是让大的图片适应所在的div容器 */
}
.snakeBody{
	background-image: url(images/body.png);
	background-size: cover;
	/* background-color: #9ddbb1;
	border-radius: 50%; */
}
.food{
	background-image: url(images/apple.png);
	background-size: cover;
}

